@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import './variables';
@import './navbar';

*{
  background-color: $bgcolor;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .welcome {
    width: 25%;
    position: absolute;
    left: calc(30% - 12.5%);
    top: calc(40% - 50px);
    text-align: center;
  }
}

.home-imgs{
  position: absolute;
  right: calc(30% - 12.5%);
  top: calc(30% - 50px);
  img{
    height: 30rem;
  }
}